{
  "openapi": "3.1.0",
  "info": {
    "title": "Odace Data API",
    "version": "1.0.0",
    "description": "Marketplace data API exposing catalogue metadata from PostgreSQL and SQL/export access over Iceberg tables on Scaleway S3 via DuckDB."
  },
  "servers": [
    { "url": "https://odace.services.d4g.fr" },
    { "url": "http://localhost:8080" }
  ],
  "paths": {
    "/health": { "get": { "summary": "Health check", "responses": { "200": { "description": "OK" } } } },
    "/api/me": {
      "get": {
        "summary": "Current user information",
        "security": [{ "HTTPBearer": [] }],
        "responses": { "200": { "description": "User profile" } }
      }
    },
    "/api/data/catalog": {
      "get": {
        "summary": "Full data catalogue",
        "security": [{ "HTTPBearer": [] }],
        "responses": { "200": { "description": "Catalogue" } }
      }
    },
    "/api/data/catalog/silver": {
      "get": {
        "summary": "Silver catalogue",
        "security": [{ "HTTPBearer": [] }],
        "responses": { "200": { "description": "Silver catalogue" } }
      }
    },
    "/api/data/catalog/silver/{table_name}": {
      "get": {
        "summary": "Silver table details",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          { "in": "path", "name": "table_name", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Table details" } }
      }
    },
    "/api/data/table/{layer}/{table}": {
      "get": {
        "summary": "Live table schema",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          { "in": "path", "name": "layer", "required": true, "schema": { "type": "string", "enum": ["bronze", "silver", "gold"] } },
          { "in": "path", "name": "table", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Schema" } }
      }
    },
    "/api/data/preview/{layer}/{table}": {
      "post": {
        "summary": "Table preview",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          { "in": "path", "name": "layer", "required": true, "schema": { "type": "string", "enum": ["bronze", "silver", "gold"] } },
          { "in": "path", "name": "table", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Preview" } }
      }
    },
    "/api/data/query": {
      "post": {
        "summary": "Execute SQL query",
        "security": [{ "HTTPBearer": [] }],
        "responses": { "200": { "description": "Query result" } }
      }
    },
    "/api/data/export/{table}": {
      "get": {
        "summary": "Export table (csv/parquet)",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          { "in": "path", "name": "table", "required": true, "schema": { "type": "string" } },
          { "in": "query", "name": "format", "required": false, "schema": { "type": "string", "enum": ["csv", "parquet"] } }
        ],
        "responses": { "200": { "description": "Export stream" } }
      }
    },
    "/api/data/catalog/refresh": {
      "post": {
        "summary": "Refresh catalogue sync metadata",
        "security": [{ "HTTPBearer": [] }],
        "responses": { "200": { "description": "Refresh status" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HTTPBearer": { "type": "http", "scheme": "bearer" }
    }
  }
}
